import("rJava")
export("helloUnBBayes")
export("queryNetwork")
export("createNodeInfo")
export("compileNetwork")
export("setEvidence")
export("propagateEvidences")
export("addNode")
export("removeNode")
export("resetEvidences")
export("print.nodeinfo")
export("print.query")
export("addcpt")
export("createNetwork")