import("rJava")
export("queryNetwork")
export("createNodeInfo")
export("compileNetwork")
export("setEvidence")
export("propagateEvidence")
export("addNode")
export("removeNode")
export("resetEvidence")
export("print.network")
export("print.nodeinfo")
export("print.query")
export("createNode")
export("parentsDefined")
export("createNetwork")
export("checkRUnBBayes")